<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <title>AddTask Page</title>
    <link href="../uploads/style.css" rel="stylesheet">
</head>

<body>
  <%- include("./partials/nav") %>

    <div class="container mt-5 mb-5 pt-5 addDataFormMearginTop" style="min-height: 74.5vh;">
      <form action="/addData" method="post" enctype="multipart/form-data" id="form">
        <h1>Add Task</h1>
        <div class="mb-3">
          <label for="title" class="form-label">Task_Title</label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
          <label for="userName" class="form-label">UserName</label>
          <input type="text" class="form-control" id="userName" name="userName">
        </div>

        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <input type="text" class="form-control" id="status" name="status">
        </div>


        <div class="mb-3">
          <label for="dueDate" class="form-label">DueDate</label>
          <input type="date" class="form-control" id="dueDate" name="dueDate">
        </div>


        <div class="mb-3">
          <label for="priority" class="form-label">Priority</label>
          <input type="text" class="form-control" id="priority" name="priority">
        </div>

        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea class="form-control" id="body" name="body"></textarea>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="file" class="form-control" id="image" name="image">
        </div>

        <button type="submit" class="btn btn-dark mt-4">Submit</button>
      </form>
    </div>



    <%- include("./partials/script") %>
</body>

</html>